RobotConfig:
  robot_name: "booster"
  type: "ros2"
  joint_size: 23
  motor_size: 23
  switching_time: 0.50
  joint_names: &joint_names
    - "head_y"
    - "head_p"
    - "l_shoulder_p"
    - "l_shoulder_r"
    - "l_elbow_p"
    - "l_elbow_y"
    - "r_shoulder_p"
    - "r_shoulder_r"
    - "r_elbow_p"
    - "r_elbow_y"
    - "waist"
    - "l_hip_p"
    - "l_hip_r"
    - "l_hip_y"
    - "l_knee"
    - "l_ankle_p"
    - "l_ankle_r"
    - "r_hip_p"
    - "r_hip_r"
    - "r_hip_y"
    - "r_knee"
    - "r_ankle_p"
    - "r_ankle_r"
  motor_names: *joint_names

  motor_direction:
    head_y: 1
    head_p: 1
    l_shoulder_p: 1
    l_shoulder_r: 1
    l_elbow_p: 1
    l_elbow_y: 1
    r_shoulder_p: 1
    r_shoulder_r: 1
    r_elbow_p: 1
    r_elbow_y: 1
    waist: 1
    l_hip_p: 1
    l_hip_r: 1
    l_hip_y: 1
    l_knee: 1
    l_ankle_p: 1
    l_ankle_r: 1
    r_hip_p: 1
    r_hip_r: 1
    r_hip_y: 1
    r_knee: 1
    r_ankle_p: 1
    r_ankle_r: 1

  observer:
    log_data:  true
    log_dir: "/home/wsy/Project/booster_ws/src/bitbot_booster/log/extra"
    motor_pos_filter:
      type: "PassThrough"
      lower_bound: [-3.14, -3.14,
                    -3.14, -3.14, -3.14, -3.14,
                    -3.14, -3.14, -3.14, -3.14,
                    -3.14,
                    -3.14, -3.14, -3.14, -3.14, -3.14, -3.14,
                    -3.14, -3.14, -3.14, -3.14, -3.14, -3.14,]
      upper_bound: [3.14, 3.14,
                    3.14, 3.14, 3.14, 3.14,
                    3.14, 3.14, 3.14, 3.14,
                    3.14,
                    3.14, 3.14, 3.14, 3.14, 3.14, 3.14,
                    3.14, 3.14, 3.14, 3.14, 3.14, 3.14,] 
    motor_vel_filter:
      type: "Mean"
      history_length: 3
      lower_bound: [-50, -50,
                    -50, -50, -50, -50,
                    -50, -50, -50, -50,
                    -50,
                    -50, -50, -50, -50, -50, -50,
                    -50, -50, -50, -50, -50, -50, ] 
      upper_bound: [50, 50,
                    50, 50, 50, 50,
                    50, 50, 50, 50,
                    50,
                    50, 50, 50, 50, 50, 50,
                    50, 50, 50, 50, 50, 50, ] 
    ang_vel_filter:
      type: "PassThrough"
      upper_bound: [100.0, 100.0, 100.0]
      lower_bound: [-100.0, -100.0, -100.0]
    acc_filter:
      type: "PassThrough"
      upper_bound: [100.0, 100.0, 100.0]
      lower_bound: [-100.0, -100.0, -100.0]
    euler_filter:
      type: "PassThrough"
      upper_bound: [100.0, 100.0, 100.0]
      lower_bound: [-100.0, -100.0, -100.0]

  executor:
    torque_limit:  # Nm
      head_y: 7
      head_p: 7
      l_shoulder_p: 18
      l_shoulder_r: 18
      l_elbow_p: 18
      l_elbow_y: 18
      r_shoulder_p: 18
      r_shoulder_r: 18
      r_elbow_p: 18
      r_elbow_y: 18
      waist: 30
      l_hip_p: 45
      l_hip_r: 30
      l_hip_y: 30
      l_knee: 60
      l_ankle_p: 24
      l_ankle_r: 15
      r_hip_p: 45
      r_hip_r: 30
      r_hip_y: 30
      r_knee: 60
      r_ankle_p: 24
      r_ankle_r: 15
    motor_upper_limit:  # rad
      head_y: 3.14
      head_p: 3.14
      l_shoulder_p: 3.14
      l_shoulder_r: 3.14
      l_elbow_p: 3.14
      l_elbow_y: 3.14
      r_shoulder_p: 3.14
      r_shoulder_r: 3.14
      r_elbow_p: 3.14
      r_elbow_y: 3.14
      waist: 3.14
      l_hip_p: 3.14
      l_hip_r: 3.14
      l_hip_y: 3.14
      l_knee: 3.14
      l_ankle_p: 3.14
      l_ankle_r: 3.14
      r_hip_p: 3.14
      r_hip_r: 3.14
      r_hip_y: 3.14
      r_knee: 3.14
      r_ankle_p: 3.14
      r_ankle_r: 3.14
    motor_lower_limit:  # rad
      head_y: -3.14
      head_p: -3.14
      l_shoulder_p: -3.14
      l_shoulder_r: -3.14
      l_elbow_p: -3.14
      l_elbow_y: -3.14
      r_shoulder_p: -3.14
      r_shoulder_r: -3.14
      r_elbow_p: -3.14
      r_elbow_y: -3.14
      waist: -3.14
      l_hip_p: -3.14
      l_hip_r: -3.14
      l_hip_y: -3.14
      l_knee: -3.14
      l_ankle_p: -3.14
      l_ankle_r: -3.14
      r_hip_p: -3.14
      r_hip_r: -3.14
      r_hip_y: -3.14
      r_knee: -3.14
      r_ankle_p: -3.14
      r_ankle_r: -3.14

  init_pos:
    duration: 1.5
    init_position: &defult_init_pos
      head_y: 0.0
      head_p: 0.0
      l_shoulder_p: 0.2
      l_shoulder_r: -1.35
      l_elbow_p: 0.0
      l_elbow_y: -0.5
      r_shoulder_p: 0.2
      r_shoulder_r: 1.35
      r_elbow_p: 0.0
      r_elbow_y: 0.5
      waist: 0.0
      l_hip_p: -0.34
      l_hip_r: 0.0
      l_hip_y: 0.0
      l_knee: 0.6
      l_ankle_p: -0.26
      l_ankle_r: 0.0
      r_hip_p: -0.34
      r_hip_r: 0.0
      r_hip_y: 0.0
      r_knee: 0.6
      r_ankle_p: -0.26
      r_ankle_r: 0.0

    p_gains: &default_p_gains
      # head_y: 20
      # head_p: 20
      # l_shoulder_p: 20
      # l_shoulder_r: 20
      # l_elbow_p: 20
      # l_elbow_y: 20
      # r_shoulder_p: 20
      # r_shoulder_r: 20
      # r_elbow_p: 20
      # r_elbow_y: 20
      # waist: 200
      # l_hip_p: 200
      # l_hip_r: 200
      # l_hip_y: 200
      # l_knee: 200
      # l_ankle_p: 50 # 50
      # l_ankle_r: 50 # 50
      # r_hip_p: 200
      # r_hip_r: 200
      # r_hip_y: 200
      # r_knee: 200
      # r_ankle_p: 50 # 50
      # r_ankle_r: 50 # 50

      head_y: 20
      head_p: 40
      l_shoulder_p: 20
      l_shoulder_r: 20
      l_elbow_p: 20
      l_elbow_y: 20
      r_shoulder_p: 20
      r_shoulder_r: 20
      r_elbow_p: 20
      r_elbow_y: 20
      waist: 200
      l_hip_p: 180
      l_hip_r: 180
      l_hip_y: 180
      l_knee: 180
      l_ankle_p: 45 # 25
      l_ankle_r: 45 # 25
      r_hip_p: 180
      r_hip_r: 180
      r_hip_y: 180
      r_knee: 180
      r_ankle_p: 45 # 25
      r_ankle_r: 45 # 25

      ## WTF PD
      # head_y: 20
      # head_p: 40
      # l_shoulder_p: 20
      # l_shoulder_r: 20
      # l_elbow_p: 20
      # l_elbow_y: 20
      # r_shoulder_p: 20
      # r_shoulder_r: 20
      # r_elbow_p: 20
      # r_elbow_y: 20
      # waist: 200
      # l_hip_p: 175
      # l_hip_r: 175
      # l_hip_y: 175
      # l_knee: 175
      # l_ankle_p: 25 # 25
      # l_ankle_r: 25 # 25
      # r_hip_p: 175
      # r_hip_r: 175
      # r_hip_y: 175
      # r_knee: 175
      # r_ankle_p: 25 # 25
      # r_ankle_r: 25 # 25

      ## 1/2 PD
      # head_y: 10
      # head_p: 10
      # l_shoulder_p: 10
      # l_shoulder_r: 10
      # l_elbow_p: 10
      # l_elbow_y: 10
      # r_shoulder_p: 10
      # r_shoulder_r: 10
      # r_elbow_p: 10
      # r_elbow_y: 10
      # waist: 100
      # l_hip_p: 100
      # l_hip_r: 100
      # l_hip_y: 100
      # l_knee: 100
      # l_ankle_p: 12.5 # 25
      # l_ankle_r: 12.5 # 25
      # r_hip_p: 100
      # r_hip_r: 100
      # r_hip_y: 100
      # r_knee: 100
      # r_ankle_p: 12.5 # 25
      # r_ankle_r: 12.5 # 25

      ## 1/4 PD
      # head_y: 0
      # head_p: 0
      # l_shoulder_p: 0
      # l_shoulder_r: 0
      # l_elbow_p: 0
      # l_elbow_y: 0
      # r_shoulder_p: 0
      # r_shoulder_r: 0
      # r_elbow_p: 0
      # r_elbow_y: 0
      # waist: 0
      # l_hip_p: 0
      # l_hip_r: 0
      # l_hip_y: 0
      # l_knee: 0
      # l_ankle_p: 0
      # l_ankle_r: 0
      # r_hip_p: 0
      # r_hip_r: 0
      # r_hip_y: 0
      # r_knee: 0
      # r_ankle_p: 0
      # r_ankle_r: 0

    d_gains: &default_d_gains
      # head_y: 0.2
      # head_p: 0.2
      # l_shoulder_p: 0.5
      # l_shoulder_r: 0.5
      # l_elbow_p: 0.5
      # l_elbow_y: 0.5
      # r_shoulder_p: 0.5
      # r_shoulder_r: 0.5
      # r_elbow_p: 0.5
      # r_elbow_y: 0.5
      # waist: 5
      # l_hip_p: 5
      # l_hip_r: 5
      # l_hip_y: 5
      # l_knee: 5
      # l_ankle_p: 1
      # l_ankle_r: 1
      # r_hip_p: 5
      # r_hip_r: 5
      # r_hip_y: 5
      # r_knee: 5
      # r_ankle_p: 1
      # r_ankle_r: 1

      head_y: 0.2
      head_p: 0.2
      l_shoulder_p: 0.5
      l_shoulder_r: 0.5
      l_elbow_p: 0.5
      l_elbow_y: 0.5
      r_shoulder_p: 0.5
      r_shoulder_r: 0.5
      r_elbow_p: 0.5
      r_elbow_y: 0.5
      waist: 5
      l_hip_p: 5
      l_hip_r: 5
      l_hip_y: 5
      l_knee: 5
      l_ankle_p: 1
      l_ankle_r: 1
      r_hip_p: 5
      r_hip_r: 5
      r_hip_y: 5
      r_knee: 5
      r_ankle_p: 1
      r_ankle_r: 1

  zero_pos:
    duration: 1.0
    init_position: *defult_init_pos
    p_gains: *default_p_gains
    d_gains: *default_d_gains

  # policy_standing:
  #   controller_type: "LEG_WAIST"
  #   p_gains: *default_p_gains
  #   d_gains: *default_d_gains
  #   default_position: *defult_init_pos
  #   decimation: 10
  #   target_pos_filter: &default_target_pos_filter
  #     type: "LowPass"
  #     # type: "None"
  #     upper_bound: [50, 50,
  #                   50, 50, 50, 50,
  #                   50, 50, 50, 50,
  #                   50,
  #                   50, 50, 50, 50, 50, 50,
  #                   50, 50, 50, 50, 50, 50, ] 
  #     lower_bound: [-50, -50,
  #                   -50, -50, -50, -50,
  #                   -50, -50, -50, -50,
  #                   -50,
  #                   -50, -50, -50, -50, -50, -50,
  #                   -50, -50, -50, -50, -50, -50, ] 
  #     alpha: [0.5, 0.5,
  #             0.5, 0.5, 0.5, 0.5,
  #             0.5, 0.5, 0.5, 0.5,
  #             0.5,
  #             0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
  #             0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ]
  #
  #   inference:
  #     policy_type: "HumanoidStand"
  #     use_absolute_clock: true
  #     control_period: 0.02
  #     stand_threshold: 0.03
  #     model_path: "/home/wsy/Project/booster_ws/src/bitbot_booster/checkpoint/policy_msl_waist.onnx"
  #     obs_buffer_size: 15
  #
  #     log_data: true
  #     log_dir: "/home/wsy/Project/booster_ws/src/bitbot_booster/log/policy"
  #     log_name: "standing"
  #
  #     device: "CPU"
  #     cycle_time: 0.90
  #     single_obs_size: 50
  #     action_size: 13
  #     action_scale: 0.25
  #     obs_scales:
  #       ang_vel: 1.0
  #       lin_vel: 2.0
  #       command: 1.0
  #       dof_pos: 1.0
  #       dof_vel: 0.05
  #       proj_gravity: 1.0
  #     clip_action: 18.0
  #     realtime: false
  #     stick_to_core: 5
  #
  #     policy_joint_names:
  #       - "waist"
  #       - "l_hip_p"
  #       - "l_hip_r"
  #       - "l_hip_y"
  #       - "l_knee"
  #       - "l_ankle_p"
  #       - "l_ankle_r"
  #       - "r_hip_p"
  #       - "r_hip_r"
  #       - "r_hip_y"
  #       - "r_knee"
  #       - "r_ankle_p"
  #       - "r_ankle_r"
  #
  #     policy_default_position:
  #       waist: 0.0
  #       l_hip_p: -0.34
  #       l_hip_r: 0.0
  #       l_hip_y: 0.0
  #       l_knee: 0.6
  #       l_ankle_p: -0.26
  #       l_ankle_r: 0.0
  #       r_hip_p: -0.34
  #       r_hip_r: 0.0
  #       r_hip_y: 0.0
  #       r_knee: 0.6
  #       r_ankle_p: -0.26
  #       r_ankle_r: 0.0

  policy_standing:
    controller_type: "LEG_WAIST"
    p_gains:
      head_y: 20
      head_p: 20
      l_shoulder_p: 20
      l_shoulder_r: 20
      l_elbow_p: 20
      l_elbow_y: 20
      r_shoulder_p: 20
      r_shoulder_r: 20
      r_elbow_p: 20
      r_elbow_y: 20
      waist: 100
      l_hip_p: 50
      l_hip_r: 50
      l_hip_y: 50
      l_knee: 50
      l_ankle_p: 15
      l_ankle_r: 15
      r_hip_p: 50
      r_hip_r: 50
      r_hip_y: 50
      r_knee: 50
      r_ankle_p: 15
      r_ankle_r: 15

      # l_hip_p: 40
      # l_hip_r: 40
      # l_hip_y: 40
      # l_knee: 40
      # l_ankle_p: 10
      # l_ankle_r: 10
      # r_hip_p: 40
      # r_hip_r: 40
      # r_hip_y: 40
      # r_knee: 40
      # r_ankle_p: 10
      # r_ankle_r: 10
    d_gains:
      head_y: 0.2
      head_p: 0.2
      l_shoulder_p: 0.5
      l_shoulder_r: 0.5
      l_elbow_p: 0.5
      l_elbow_y: 0.5
      r_shoulder_p: 0.5
      r_shoulder_r: 0.5
      r_elbow_p: 0.5
      r_elbow_y: 0.5
      waist: 2
      l_hip_p: 1
      l_hip_r: 1
      l_hip_y: 1
      l_knee: 1
      l_ankle_p: 1
      l_ankle_r: 1
      r_hip_p: 1
      r_hip_r: 1
      r_hip_y: 1
      r_knee: 1
      r_ankle_p: 1
      r_ankle_r: 1
    default_position: *defult_init_pos
    decimation: 10
    target_pos_filter: &default_target_pos_filter
      type: "LowPass"
      # type: "None"
      upper_bound: [50, 50,
                    50, 50, 50, 50,
                    50, 50, 50, 50,
                    50,
                    50, 50, 50, 50, 50, 50,
                    50, 50, 50, 50, 50, 50, ] 
      lower_bound: [-50, -50,
                    -50, -50, -50, -50,
                    -50, -50, -50, -50,
                    -50,
                    -50, -50, -50, -50, -50, -50,
                    -50, -50, -50, -50, -50, -50, ] 
      alpha: [0.5, 0.5,
              0.5, 0.5, 0.5, 0.5,
              0.5, 0.5, 0.5, 0.5,
              0.5,
              0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
              0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ]

    inference:
      policy_type: "HumanoidStand"
      use_absolute_clock: true
      control_period: 0.02
      stand_threshold: 0.03
      model_path: "/home/wsy/Project/booster_ws/src/bitbot_booster/checkpoint/beta_low_pd.onnx"
      obs_buffer_size: 15

      log_data: true
      log_dir: "/home/wsy/Project/booster_ws/src/bitbot_booster/log/policy"
      log_name: "standing"

      device: "CPU"
      cycle_time: 0.90
      single_obs_size: 50
      action_size: 13
      action_scale: 0.5
      obs_scales:
        ang_vel: 1.0
        lin_vel: 2.0
        command: 1.0
        dof_pos: 1.0
        dof_vel: 0.05
        proj_gravity: 1.0
      clip_action: 18.0
      realtime: false
      stick_to_core: 5

      policy_joint_names:
        - "waist"
        - "l_hip_p"
        - "l_hip_r"
        - "l_hip_y"
        - "l_knee"
        - "l_ankle_p"
        - "l_ankle_r"
        - "r_hip_p"
        - "r_hip_r"
        - "r_hip_y"
        - "r_knee"
        - "r_ankle_p"
        - "r_ankle_r"

      policy_default_position:
        waist: 0.0
        l_hip_p: -0.34
        l_hip_r: 0.0
        l_hip_y: 0.0
        l_knee: 0.6
        l_ankle_p: -0.26
        l_ankle_r: 0.0
        r_hip_p: -0.34
        r_hip_r: 0.0
        r_hip_y: 0.0
        r_knee: 0.6
        r_ankle_p: -0.26
        r_ankle_r: 0.0

  policy_walking:
    controller_type: "LEG_ONLY"
    p_gains: *default_p_gains
    d_gains: *default_d_gains
    default_position: *defult_init_pos
    decimation: 10
    target_pos_filter: *default_target_pos_filter

    inference:
      policy_type: "Locomotion"
      use_absolute_clock: true
      control_period: 0.02
      model_path: "/home/wsy/Project/booster_ws/src/bitbot_booster/checkpoint/policy_msl_t3.onnx"
      obs_buffer_size: 15

      log_data: true
      log_dir: "/home/wsy/Project/booster_ws/src/bitbot_booster/log/policy"
      log_name: "walking"

      device: "CPU"
      cycle_time: 0.80
      phase_offset_left: 0.5
      phase_offset_right: 0.0
      single_obs_size: 47
      action_size: 12
      action_scale: 0.25
      obs_scales:
        ang_vel: 1.0
        lin_vel: 2.0
        command: 1.0
        dof_pos: 1.0
        dof_vel: 0.05
        proj_gravity: 1.0
      clip_action: 18.0
      realtime: false
      stick_to_core: 6

      policy_joint_names:
        - "l_hip_p"
        - "l_hip_r"
        - "l_hip_y"
        - "l_knee"
        - "l_ankle_p"
        - "l_ankle_r"
        - "r_hip_p"
        - "r_hip_r"
        - "r_hip_y"
        - "r_knee"
        - "r_ankle_p"
        - "r_ankle_r"

      policy_default_position:
        l_hip_p: -0.2
        l_hip_r: 0.0
        l_hip_y: 0.0
        l_knee: 0.4
        l_ankle_p: -0.25
        l_ankle_r: 0.0
        r_hip_p: -0.2
        r_hip_r: 0.0
        r_hip_y: 0.0
        r_knee: 0.4
        r_ankle_p: -0.25
        r_ankle_r: 0.0

  policy_robust:
    controller_type: "LEG_WAIST"
    p_gains:
      head_y: 20
      head_p: 20
      l_shoulder_p: 20
      l_shoulder_r: 20
      l_elbow_p: 20
      l_elbow_y: 20
      r_shoulder_p: 20
      r_shoulder_r: 20
      r_elbow_p: 20
      r_elbow_y: 20
      waist: 100
      l_hip_p: 50
      l_hip_r: 50
      l_hip_y: 50
      l_knee: 50
      l_ankle_p: 15
      l_ankle_r: 15
      r_hip_p: 50
      r_hip_r: 50
      r_hip_y: 50
      r_knee: 50
      r_ankle_p: 15
      r_ankle_r: 15

      # l_hip_p: 40
      # l_hip_r: 40
      # l_hip_y: 40
      # l_knee: 40
      # l_ankle_p: 10
      # l_ankle_r: 10
      # r_hip_p: 40
      # r_hip_r: 40
      # r_hip_y: 40
      # r_knee: 40
      # r_ankle_p: 10
      # r_ankle_r: 10
    d_gains:
      head_y: 0.2
      head_p: 0.2
      l_shoulder_p: 0.5
      l_shoulder_r: 0.5
      l_elbow_p: 0.5
      l_elbow_y: 0.5
      r_shoulder_p: 0.5
      r_shoulder_r: 0.5
      r_elbow_p: 0.5
      r_elbow_y: 0.5
      waist: 2
      l_hip_p: 1
      l_hip_r: 1
      l_hip_y: 1
      l_knee: 1
      l_ankle_p: 1
      l_ankle_r: 1
      r_hip_p: 1
      r_hip_r: 1
      r_hip_y: 1
      r_knee: 1
      r_ankle_p: 1
      r_ankle_r: 1
    default_position: *defult_init_pos
    decimation: 10
    target_pos_filter: *default_target_pos_filter

    inference:
      policy_type: "Humanoid"
      use_absolute_clock: true
      control_period: 0.02
      model_path: "/home/wsy/Project/booster_ws/src/bitbot_booster/checkpoint/policy_TC.onnx"
      obs_buffer_size: 10

      log_data: true
      log_dir: "/home/wsy/Project/booster_ws/src/bitbot_booster/log/policy"
      log_name: "robust"

      device: "CPU"
      cycle_time: 0.8
      single_obs_size: 50
      action_size: 13
      action_scale: 0.5
      obs_scales:
        ang_vel: 1.0
        lin_vel: 2.0
        command: 1.0
        dof_pos: 1.0
        dof_vel: 0.05
        proj_gravity: 1.0
      clip_action: 18.0
      realtime: false
      stick_to_core: 5

      policy_joint_names:
        - "waist"
        - "l_hip_p"
        - "l_hip_r"
        - "l_hip_y"
        - "l_knee"
        - "l_ankle_p"
        - "l_ankle_r"
        - "r_hip_p"
        - "r_hip_r"
        - "r_hip_y"
        - "r_knee"
        - "r_ankle_p"
        - "r_ankle_r"

      policy_default_position:
        waist: 0.0
        l_hip_p: -0.2
        l_hip_r: 0.0
        l_hip_y: 0.0
        l_knee: 0.4
        l_ankle_p: -0.25
        l_ankle_r: 0.0
        r_hip_p: -0.2
        r_hip_r: 0.0
        r_hip_y: 0.0
        r_knee: 0.4
        r_ankle_p: -0.25
        r_ankle_r: 0.0
